.offers-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
  padding-right: 120px;
}
.map {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 80px;
  left: 46%;
  background-color: #222222;
  color: white;
  white-space: nowrap;
  border-radius: 30px;
  border: 2px solid white;
  cursor: pointer;
  opacity: 0.8;
}
.map:hover {
  cursor: pointer;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.7);
  opacity: 1;
  border: 2px solid black;
}
.map > span {
  padding: 10px;
  font-size: medium;
}
